@media all and               (min-width: 1150px)
{.btn:hover                  {background-color: #00897B; border-color: transparent;}
.green:hover                 {border: 2px solid; background-color: transparent;}}
.nav-link:hover              {background-color: black; color: white;}
.second-item:hover           {background-color: #00897b; color: black; transform: scale(1.05); box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);}
.second-item:hover .readmore {border-color:black; color: black;}